@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1400px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000000;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  z-index: 99;
  height: 90px;
  margin-top: -20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 70px; /* Adjust size as needed */
  height: auto;
  margin-right: 10px;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #ff9001;
  transition: 0.3s;
  text-decoration: none;
}

nav .logo a:hover {
  color: white;
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}

nav .checkbox i {
  font-size: 2rem;
  color: #ff9001;
  cursor: pointer;
}

nav .checkbox i:hover {
  color: white;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: #ff9001;
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: #ff9001;
  border-bottom-color: #ff9001;
  color: white;
}

/* About Us Styles */
.about-us {
  padding: 100px 1rem 200px 1rem;
  background-color: black;
  color: #ff9001;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  text-align: center;
}

.team {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.team-member {
  background-color: black;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  text-align: center;
}

.team-member img {
  width: 100%;
  border-radius: 50%;
}

.team-member h2 {
  margin: 1rem 0 0.5rem 0;
  color: #ff9001;
}

.team-member p {
  color: white;
}

/* Footer Styles */
footer {
  width: 100%;
  height: 50px; /* Same height as the navbar */
  background-color: #000000; /* Same background color as the navbar */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.footer__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer__content p {
  margin: 0;
}

.footer__content ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.footer__content ul li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.footer__content ul li a:hover {
  color: var(--primary-color);
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .team {
    flex-direction: column;
    align-items: center;
  }

  .team-member {
    max-width: 100%;
  }

  .team-member img {
    width: 50%;
    border-radius: 50%;
  }
}

.icon-large {
  padding-top: 15PX;
  color: white; 
  width: 30px;
  font-size: 24px; /* Adjust the size as needed */
}


/* Add this CSS to your existing styles.css */

.title-logo {
  display: flex;
  align-items: center;
}

.title-logo-img {
  width: 50px; /* Adjust size as needed */
  height: auto;
  margin-right: 10px; /* Adjust space between logo and title */
}

@media (max-width: 750px) {
  .title-logo {
    flex-direction: column;
    align-items: center;
  }

  .title-logo-img {
    margin-right: 0;
    margin-bottom: 10px; /* Adjust space between logo and title */
  }
}
